body {
    text-align: center;
    background-color: rgb(24, 0, 9);
    font-family: helvetica;
}
h1 {
    display: block;
    background-color: rgba(247, 28, 105, 0.138);
    padding: 0.1rem;
    font-size: 32;
    color: #ea0d66;
}
h3 {
    font-size: 16;
    color: rgb(255, 15, 87);
}
h2 {
    font-size: 24;
    color: #e03661;
}
.title {
    display: block;
    background-color: rgba(255, 67, 164, 0.138);
    color: #ee2392;
    border-radius: 25%;
    padding: 0.1rem;
}
.desc {
    display: block;
    background-color: rgba(247, 28, 105, 0.138);
    padding: 0.9rem;
    color: #ee2392;
    font-size: 16;
    font-family: helvetica;
    font-weight: bold;
}
.download {
    color: #ff63c8;
    font-size: 24;
    font-family: helvetica;
    font-weight: bolder;
}
.about1 {
    color:#e03661;
    font-family: monospace;
    font-size: larger;
    font-weight: lighter;
}
.pagebar {
    display:block;
    background-color:rgba(247, 28, 105, 0.138);
    padding: 0.3rem;
}